---
layout: markdown_page
title: Growth Department
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

For more details about the product vision for Growth, see our [Growth] page.

[Growth]: /direction/growth/

## Mission

Growth focuses on improving our capabilities and metrics in the following areas:

 * [Activation](/handbook/engineering/development/growth/activation)
 * [Adoption](/handbook/engineering/development/growth/adoption)
 * [Upsell](/handbook/engineering/development/growth/upsell)
 * [Retention](/handbook/engineering/development/growth/retention)


## Team Members

The following people are permanent members of the Growth Team:

<%= direct_team(role_regexp: /[,&] Growth/, manager_role: 'Director of Engineering, Growth') %>

We''re hiring for [Full Stack engineers] to join our team

[Full Stack engineers]: /jobs/apply/fullstack-engineer-growth-4247953002/

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Growth/, direct_manager_role: 'Engineering Manager, Growth') %>

## Common Links

 * [Growth issues board]
 * [#g_growth] in Slack


[Growth issues board]: https://gitlab.com/gitlab-org/growth/issues

[#g_growth]: https://gitlab.slack.com/archives/g_growth
